<nav class="navbar">
  <h2 class="brand">Feane</h2>
  <ul class="nav-list">
    <li><a routerLink="">HOME</a></li>
    <li><a routerLink="/menu" routerLinkActive="active" >MENU</a></li>
    <li><a href="#">ABOUT</a></li>
    <li><a routerLink="/book">BOOKTABLE</a></li>
    <li><a routerLink="/feedback">FEEDBACK</a></li>

  </ul>
  <div class="icons-container">
    <a href="#"><i class="fa-solid fa-user"></i></a>
    <a routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i>
      <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div></a>
    <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
  </div>
</nav>
