<app-header></app-header>
<div class="container5 mt-5">
    <strong class="heading">Our Menu</strong>
    <ul class="list-items">
        <li class="button" (click)="showAll()">All</li>
        <li class="button"> Burger</li>
        <li class="button">pizza</li>
        <li class="button">fruits</li>
        <li class="button">coldrinks</li>

    </ul>
    <div class="cards-container">
        <div class="card">
            <div class="card-image-container">
                <img src="https://technext.github.io/feane/images/f1.png" class="image" />
            </div>
            <div class="card-details-container">
                <h3 class="card-heading">Delicious Pizza</h3>
                <p class="description">Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque</p>
                <div class="price-container">
                    <p class="price">$54</p>
                    <div class="cart-icon-container">
                        <i class="fa-solid fa-cart-shopping cart-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image-container">
                <img src="https://technext.github.io/feane/images/f1.png" class="image" />
            </div>
            <div class="card-details-container">
                <h3 class="card-heading">Delicious Pizza</h3>
                <p class="description">Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque</p>
                <div class="price-container">
                    <p class="price">$54</p>
                    <div class="cart-icon-container">
                        <i class="fa-solid fa-cart-shopping cart-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image-container">
                <img src="https://technext.github.io/feane/images/f1.png" class="image" />
            </div>
            <div class="card-details-container">
                <h3 class="card-heading">Delicious Pizza</h3>
                <p class="description">Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque</p>
                <div class="price-container">
                    <p class="price">$54</p>
                    <div class="cart-icon-container">
                        <i class="fa-solid fa-cart-shopping cart-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>