<div class="conatiner">
  <section class="h-100 h-custom" style="background-color: #eee">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card shopping-cart" style="border-radius: 15px">
            <div class="card-body text-black">
              <div class="row">
                <div class="col-lg-6 px-5 py-4">
                  <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">
                    Your products
                  </h3>

                  <div
                    class="d-flex align-items-center mb-5"
                    *ngFor="let item of product"
                  >
                    <div class="flex-shrink-0">
                      <img
                        src="{{ item.imageUrl }}"
                        class="img-fluid"
                        style="width: 150px"
                        alt="Generic placeholder image"
                      />
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h5 class="text-primary">{{ item.title }}</h5>
                      <div class="d-flex align-items-center">
                        <p class="fw-bold mb-0 me-5 pe-3">${{ item.price }}</p>
                      </div>
                    </div>
                  </div>

                  <hr
                    class="mb-4"
                    style="height: 2px; background-color: #1266f1; opacity: 1"
                  />

                  <div
                    class="d-flex justify-content-between p-2 mb-2"
                    style="background-color: #e1f5fe"
                  >
                    <h5 class="fw-bold mb-0">Total:</h5>
                    <h5 class="fw-bold mb-0">${{ grandTotal }}</h5>
                  </div>
                </div>
                <div class="col-lg-6 px-5 py-4">
                  <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">
                    Customer Details
                  </h3>

                  <form class="mb-5" [formGroup]="detailForm">
                    <div class="form-outline mb-5">
                      <label class="form-label" for="typeText"
                        ><strong>Name</strong></label
                      >

                      <input
                        type="text"
                        id="typeText"
                        class="form-control form-control-lg"
                        formGroupName="name"
                        [ngClass]="{
                          'is-invalid': submitted && f['name'].errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f['name'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f['name'].errors['required']">
                          Name is required
                        </div>
                      </div>
                    </div>

                    <div class="form-outline mb-5">
                      <label class="form-label" for="typeText"
                        ><strong>Mobile No.</strong></label
                      >

                      <input
                        type="text"
                        id="typeText"
                        class="form-control form-control-lg"
                        formGroupName="mobile"
                        [ngClass]="{
                          'is-invalid': submitted && f['mobile'].errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f['mobile'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f['mobile'].errors['required']">
                          Mobile No. is required
                        </div>
                      </div>
                    </div>
                    <div class="form-outline mb-5">
                      <label class="form-label" for="typeText"
                        ><strong>Table No.</strong></label
                      >

                      <input
                        type="text"
                        id="typeText"
                        class="form-control form-control-lg"
                        formGroupName="table"
                        [ngClass]="{
                          'is-invalid': submitted && f['table'].errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f['table'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f['table'].errors['required']">
                          Table No. is required
                        </div>
                      </div>
                    </div>

                    <button
                      (click)="submit()"
                      type="button"
                      class="btn btn-primary btn-block btn-lg"
                    >
                      Confirm
                    </button>

                    <h5
                      class="fw-bold mb-5"
                      style="position: absolute; bottom: 0"
                    >
                      <a routerLink="/menu"
                        ><i class="fas fa-angle-left me-2"></i>Back to
                        shopping</a
                      >
                    </h5>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
